html, body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  background: white;
  text-align: center;
}

canvas {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-box-reflect: right .25%;
}

canvas.flippy {
  -webkit-box-reflect: left .25%;
}

div.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #20202070;
  z-index: 999;
}
