html, body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  background: #444;
  text-align: center;
}

canvas {
  height: 100%;
}

div.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #20202070;
  z-index: 999;
}
